@import "../../../../styles.scss";

.forms-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  h3 {
    font-size: 2rem;
    background-color: var(--blue-200);
    width: 40%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;
  }

  .form {
    display: flex;
    flex-direction: column;
    background-color: var(--blue-100);
    padding: 2rem;
    border-radius: 8px;

    &__control {
      display: flex;
      flex-direction: column;
      margin: 0.25rem 0;

      &--label {
        margin-bottom: 0.1rem;
      }
    }

    .invalid {
      color: red;
      font-size: 0.7rem;
      padding-top: 0.3rem;
    }

    button {
      padding: 1rem;
      font-size: 1rem;
      border-radius: 8px;
      background-color: lightblue;
      color: black;
      margin-top: 1rem;
      border: 0;

      &:disabled {
        background-color: lightgrey;
        color: darkgrey;
        cursor: not-allowed;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 2px 1px 5px lightblue;
      }
    }
  }
}
